ul {
    border: 1px solid black;
    padding-bottom: 10px;
}


h2 {
    display: inline-block;
    
}

p{
    margin-top: 0;
    margin-bottom: 30px;
}

.date {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.7;
}

button {
    height: 45px;
    width: 100px;
    margin-right: 25px;
    border-radius: 4px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

.likeButton {
    background: rgba(46, 204, 113,1.0);
    color: white;
}

.dislikeButton {
    background: rgba(192, 57, 43,1.0);
    color: white;
}

.like {
    background:  rgba(46, 204, 113,0.5);
    color: rgba(39, 174, 96,1.0)
}

.dislike {
    color: rgba(192, 57, 43, 1.0);
    background: rgba(231, 76, 60, 0.5);

}